.formulario {
    overflow: hidden;
        font-family: Arial, sans-serif;
        /* background-color: #f0f0f0; */
        background-image: url('/../../assets/home.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .login-container {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 80%; 
        max-width: 600px; 
        display: flex;
        flex-direction: column; /* Cambiar a columna para apilar los elementos */
    }

    .login-text {
        flex: 1;
        text-align: left;
        padding-right: 40px;
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .login-form {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .input-field {
        padding: 12px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
    }

    .ingresos {
    width: 100%;
    margin-bottom: 15px; /* Espacio entre los campos */
    }
    .form-control {
        padding: 12px;
        margin: 0; /* Sin margen para ocupar todo el ancho */
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
    }
    .btn {
        padding: 12px;
        background-color: #4079d5;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%; /* Ocupar todo el ancho */
        margin-bottom: 10px; /* Espacio entre los botones */
    }
    .btn:hover {
        background-color: #2f60ae;
    }

    .button-container {
        display: flex; /* Alinear los botones uno al lado del otro */
        justify-content: space-between; /* Espacio entre los botones */
    }
    
    .btn-regis {
        width: 48%; /* Ajustar el ancho de los botones */
        background-color: #759ad7;
    }

    .btn-regis{
            padding: 10px;
            width: 45%; /* Botón más pequeño */
            background-color: #759ad7;
            align-self: center; /* Centrar el botón */
            border: none;
            border-radius: 4px;
            color: white;
            cursor: pointer;
            margin-left: 10px;
            /* margin: 10px auto 0 auto; */
            margin-right: 0;
            margin-top: 10px;
            /* margin-left: 10px;  */
    }

    .error-message{
        color: red;
    }