body{
    overflow: hidden;
    font-family: Arial, sans-serif;
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    background-image: url("../../../assets/fondoQuienSoy.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

