.formulario {
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-image: url('/../../assets/home.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.content-box {
    background-color: white;
    padding: 40px; /* Aumentar padding para hacer la caja más grande */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%; /* Incrementar el ancho para que ocupe más espacio */
    max-width: 1000px; /* Ajustar el máximo ancho para pantallas más grandes */
}

.is-invalid {
    border-color: #dc3545; /* Rojo para indicar error */
}

.invalid-feedback {
    display: none;
}

input.ng-invalid.ng-touched ~ .invalid-feedback,
select.ng-invalid.ng-touched ~ .invalid-feedback {
    display: block; /* Mostrar feedback si el campo es inválido y ha sido tocado */
}
