<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">P1 Games</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" (click)="goTo('home')" aria-current="page" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" (click)="goTo('login')" >Ingresar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  (click)="goTo('quien-soy')">¿Quien soy?</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->


<!-- <p>Menu</p> -->
<!-- <button (click)="goTo('login')" routerLinkActive="active-route" >login</button>
<button (click)="goTo('products')" routerLinkActive="active-route"  >About</button>
<button (click)="goTo('products')" > Productos</button> -->
<!-- <button class="btn btn-primary" (click)="goTo('home')" >Home</button> 

<button  class="btn btn-primary" (click)="goTo('login')" >login</button>

<button class="btn btn-primary" (click)="goTo('quien-soy')" >quien soy?</button> -->


<router-outlet />
<!-- <router-outlet /> -->


