    .chat-window {
        border: 1px solid #ccc;
        padding: 10px;
        max-width: 800px;
        max-height: 690px;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
    }
    
    .chat-messages {
        max-height: 800px; /* Ajusta según tu diseño */
        overflow-y: auto; /* Scroll vertical si es necesario */
        margin-bottom: 20px; /* Espacio entre mensajes y el input */
        background-color: #f9f9f9; /* Color de fondo */
    }
    
    .mensaje {
        margin-bottom: 20px; /* Espacio entre mensajes */
        padding: 5px; /* Espacio interno */
        border-radius: 5px; /* Bordes redondeados */
        background-color: #ccc8c8; /* Color de fondo del mensaje */
    }
    
    .message-own {
        background-color: white; /* Color de fondo para el mensaje propio */
        color: black;
        text-align: right; /* Alinear el mensaje a la derecha */
        margin-left: auto; /* Mover el mensaje a la derecha */
        border-radius: 10px 10px 0 10px;
        padding: 10px;
        max-width: 70%;
    }
    
    .message-other {
        background-color: white; /* Color de fondo para los mensajes de otros */
        color: black;
        text-align: left; /* Alinear el mensaje a la izquierda */
        margin-right: auto; /* Mover el mensaje a la izquierda */
        border-radius: 10px 10px 10px 0;
        padding: 10px;
        max-width: 70%;
    }
    
    .fecha {
        font-size: 0.8em; /* Tamaño de fuente más pequeño para la fecha */
        color: #888; /* Color gris */
    }
    
    .input-message {
        display: flex;
        justify-content: space-between; /* Espacio entre input y botón */
    }
    
    input {
        flex: 1; /* Ocupa todo el espacio disponible */
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-right: 10px; /* Espacio entre el input y el botón */
    }
    
    button {
        padding: 10px 15px;
        border-radius: 5px;
        border: none;
        background-color: white; /* Color del botón */
        color: white;
        cursor: pointer;
    }
    