    <div class="chat-window">
        <div class="chat-messages" #chatMessages>
        <div *ngFor="let mensaje of mensajes$ | async" [ngClass]="{'message-own': mensaje.email === email, 'message-other': mensaje.email !== email}">
            <!-- Mostrar el email solo si el mensaje no es del dueño de la cuenta -->
            <ng-container *ngIf="mensaje.email !== email">
            <strong>{{ mensaje.email }}</strong>
            </ng-container> 
            <span>{{ mensaje.mensaje }}</span><br>
            <span class="fecha">{{ convertirTimestampAFecha(mensaje.fechaEnvio) | date:'short' }}</span>
        </div>
        </div>
        
        <!-- Formulario de ingreso de mensajes -->
        <form (ngSubmit)="enviarMensaje()">
        <div class="input-group mb-3">
            <input 
            type="text" 
            class="form-control" 
            placeholder="Escribe tu mensaje..." 
            [(ngModel)]="nuevoMensaje" 
            name="mensaje"
            minlength="1"
            maxlength="50"
            required>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
        </form>
    </div>
    